* {
  margin: 0px;
  padding: 0px;
  font-family: "karla", sans-serif;
}

.scaffold {
  width: 100vw;
  display: block;
  justify-content: center;
  margin: auto;
}
.nav-section {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 30px 0.1px rgb(0, 0, 0, 0.1);
  color: #262626;
  z-index: 10;
}
.logo {
  padding: 20px;
}
.logo img {
  height: 50px;
  width: 180px;
  cursor: pointer;
}
.nav-section ul {
  display: flex;
  list-style: none;
  line-height: 40px;
}
.nav-section ul li {
  padding: 20px;
  font-size: 18px;
}
.nav-section ul li a {
  text-decoration: none;
  color: #262626;
}
.nav-section ul li a:hover,
:active {
  color: #0f7c90;
}
.search-box {
  border: 2px solid #0f7c90;
  padding: 0px 10px 0px 10px;
  border-radius: 25px;
}
.search-txt {
  border: none;
  outline: none;
  font-size: 16px;
}
.sign {
  background: #0f7c90;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #0f7c90;
  color: white;
  width: auto;
}
.sign:hover {
  color: white;
  border: 1px solid #0c5663;
  background: #0c5663;
}

/* ***************************Done with navigation*************************** */
.container {
  width: 85%;
  margin: auto;
  border: 5px solid yellow;
}
.cover-page {
  border: 10px solid green;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cover-page img {
  margin: auto;
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.info {
  border: 1px solid blue;
  width: auto;
  position: absolute;
  top: 30%;
}

.info > h1 {
  font-size: 72px;
  padding: 15px 15px 0px 20px;
  color: #ffffff;
  text-align: left;
  margin-left: 50px;
}

.accross {
  background: #333;
  filter: opacity(0.8);
  height: 100px;
  border: 1px solid red;
}
